<nav id="sidebar-admin-wraper">
    <div class="page-logo">
        <a href="index"><img src="images/logo-dark.png" alt=""></a>
    </div>
    
    <div class="scroll-wrapper admin-nav scrollbar-macosx" style="position: relative;"><div class="scroll-wrapper admin-nav scrollbar-macosx scroll-content" style="position: relative;"><div class="admin-nav scrollbar-macosx scroll-content" style="height: 761px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
        <ul>
            <li <% if(String(page) == "/dash-dashboard" ){ %>class="active has-child" <% } %>>
                <a href="dash-dashboard"><i class="fa fa-home"></i><span class="admin-nav-text">Dashboard</span></a>
            </li>

            <li <% if(String(page).startsWith("/dash-company-profile") ){ %>class="active has-child" <% } %>>
                <a href="dash-company-profile"><i class="fa fa-user-tie"></i><span class="admin-nav-text">Company Profile</span></a>
            </li>
            
            <li <% if(String(page).startsWith("/dash-myprofile") ){ %>class="active has-child" <% } %>>
                <a href="dash-myprofile"><i class="fa fa-user"></i><span class="admin-nav-text">My Profile</span></a>
            </li>

            <li <% if(String(page) == "/dash-post-job" ){ %>class="active has-child" <% } %> >
                <a href="dash-post-job"><i class="fa fa-suitcase"></i><span class="admin-nav-text">Post Jobs</span></a>
                <a href="dash-post-job"><i class="fa fa-suitcase"></i><span class="admin-nav-text">Jobs Applications</span></a>
            </li>
            <li>
                <a href="candidates"><i class="fa fa-user-friends"></i><span class="admin-nav-text">Candidates</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bookmark"></i><span class="admin-nav-text">Bookmarks</span></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-money-bill-alt"></i><span class="admin-nav-text">Packages</span></a>
            </li>
              
            <li <% if(String(page) == "/dash-messages" ){ %>class="active has-child" <% } %>>
                <a href="dash-messages"><i class="fa fa-envelope"></i><span class="admin-nav-text">Messages <sup class="twm-msg-noti">5</sup></span></a>
                
            </li>
            

            <li>
                <a href="#"><i class="fa fa-fingerprint"></i><span class="admin-nav-text">Change Password</span></a>
            </li>
            
            <li>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#delete-dash-profile"><i class="fa fa-trash-alt"></i><span class="admin-nav-text">Delete Profile</span></a>
            </li>  
                               
            <li>
                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#logout-dash-profile"><i class="fa fa-share-square"></i><span class="admin-nav-text">Logout</span></a>
            </li>                    
            
        </ul>
    </div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px;"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 0px;"></div></div></div></div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px;"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 0px;"></div></div></div></div>   
</nav>