<!-- LOADING AREA START ===== -->
<div class="loading-area" style="display: none;">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->

<div class="page-wraper">


    <!-- Sidebar Holder -->
    <%- include('./partials/nav'); -%>

        <!-- Page Content Holder -->
        <div id="content">

            <div class="content-admin-main">

                <div class="wt-admin-right-page-header clearfix">
                    <h2>Candidates</h2>
                    <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Candidates</span></div>
                </div>

                <div class="twm-pro-view-chart-wrap">

                    <div class="col-lg-12 col-md-12 mb-4">
                        <div class="panel panel-default site-bg-white m-t30">
                            <div class="panel-heading wt-panel-heading p-a20">
                                <h4 class="panel-tittle m-a0"><i class="fa fa-list-alt"></i>All Candidates</h4>
                            </div>
                            <div class="panel-body wt-panel-body">
                                <div class="twm-D_table p-a20 table-responsive">
                                    <div id="candidate_data_table_wrapper" class="dataTables_wrapper dt-bootstrap5">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="candidate_data_table" class="table table-bordered dataTable"
                                                    aria-describedby="candidate_data_table_info">
                                                    <thead>
                                                        <tr>
                                                            <th class="sorting sorting_asc" tabindex="0"
                                                                aria-controls="candidate_data_table" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label=": activate to sort column descending"
                                                                style="width: 67.7083px;"><input type="checkbox"
                                                                    onclick="checkAll(this)"></th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="candidate_data_table" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Name: activate to sort column ascending"
                                                                style="width: 382.17px;">Name</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="candidate_data_table" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Applied for: activate to sort column ascending"
                                                                style="width: 270.035px;">Applied for</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="candidate_data_table" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Date: activate to sort column ascending"
                                                                style="width: 356.267px;">Date</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="candidate_data_table" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Status: activate to sort column ascending"
                                                                style="width: 198.438px;">Status</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="candidate_data_table" rowspan="1"
                                                                colspan="1"
                                                                aria-label=": activate to sort column ascending"
                                                                style="width: 172.153px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!--1-->

                                                        <!--2-->


                                                        <!--3-->


                                                        <!--4-->


                                                        <!--5-->


                                                        <!--6-->

                                                        <!--7-->


                                                        <!--8-->


                                                        <!--9-->


                                                        <!--10-->


                                                        <!--11-->


                                                        <!--12-->


                                                        <!--13-->


                                                        <tr class="odd">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                            <img src="images/candidates/pic1.jpg"
                                                                                alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Wanda Montgomery </h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>

                                                                    </div>

                                                                </div>
                                                            </td>
                                                            <td>UI Designer</td>
                                                            <td>15/06/2022 at 10:35 am</td>
                                                            <td>
                                                                <div class="twm-jobs-category"><span
                                                                        class="twm-bg-green">Approved</span></div>
                                                            </td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span
                                                                                    class="fa fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="fa fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="even">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                            <img src="images/candidates/pic2.jpg"
                                                                                alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Peter Hawkins</h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>

                                                                    </div>

                                                                </div>
                                                            </td>
                                                            <td>Medical Professed</td>
                                                            <td>16/06/2022 at 11:35 am</td>
                                                            <td>
                                                                <div class="twm-jobs-category"><span
                                                                        class="twm-bg-golden">Pending</span></div>
                                                            </td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span
                                                                                    class="fa fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="fa fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                            <img src="images/candidates/pic3.jpg"
                                                                                alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Ralph Johnson</h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>

                                                                    </div>

                                                                </div>
                                                            </td>
                                                            <td>Bank Manager</td>
                                                            <td>17/06/2022 at 01:15 pm</td>
                                                            <td>
                                                                <div class="twm-jobs-category"><span
                                                                        class="twm-bg-red">Rejects</span></div>
                                                            </td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span
                                                                                    class="fa fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="fa fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="even">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                            <img src="images/candidates/pic4.jpg"
                                                                                alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Randall Henderson</h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>

                                                                    </div>

                                                                </div>
                                                            </td>
                                                            <td>IT Contractor</td>
                                                            <td>18/06/2022 at 10:35 am</td>
                                                            <td>
                                                                <div class="twm-jobs-category"><span
                                                                        class="twm-bg-golden">Pending</span></div>
                                                            </td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span
                                                                                    class="fa fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="fa fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                            <img src="images/candidates/pic5.jpg"
                                                                                alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Randall Warren</h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>

                                                                    </div>

                                                                </div>
                                                            </td>
                                                            <td>Digital &amp; Creative</td>
                                                            <td>22/06/2022 at 10:35 am</td>
                                                            <td>
                                                                <div class="twm-jobs-category"><span
                                                                        class="twm-bg-green">Approved</span></div>
                                                            </td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span
                                                                                    class="fa fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="fa fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                           <img src="images/candidates/pic6.jpg" alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Wanda Montgomery </h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>UI Designer</td>
                                                            <td>15/06/2022 at 10:35 am</td>
                                                            <td><div class="twm-jobs-category"><span class="twm-bg-green">Approved</span></div></td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span class="far fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="far fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><tr class="even">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                           <img src="images/candidates/pic7.jpg" alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Wanda Montgomery </h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>UI Designer</td>
                                                            <td>15/06/2022 at 10:35 am</td>
                                                            <td><div class="twm-jobs-category"><span class="twm-bg-green">Approved</span></div></td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span class="far fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="far fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><tr class="odd">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                           <img src="images/candidates/pic8.jpg" alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Wanda Montgomery </h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>UI Designer</td>
                                                            <td>15/06/2022 at 10:35 am</td>
                                                            <td><div class="twm-jobs-category"><span class="twm-bg-green">Approved</span></div></td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span class="far fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="far fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><tr class="even">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                           <img src="images/candidates/pic1.jpg" alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Wanda Montgomery </h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>UI Designer</td>
                                                            <td>15/06/2022 at 10:35 am</td>
                                                            <td><div class="twm-jobs-category"><span class="twm-bg-green">Approved</span></div></td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span class="far fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="far fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><tr class="odd">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                           <img src="images/candidates/pic2.jpg" alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Peter Hawkins</h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>Medical Professed</td>
                                                            <td>16/06/2022 at 11:35 am</td>
                                                            <td><div class="twm-jobs-category"><span class="twm-bg-golden">Pending</span></div></td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span class="far fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="far fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                           <img src="images/candidates/pic3.jpg" alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Ralph Johnson</h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>Bank Manager</td>
                                                            <td>17/06/2022 at 01:15 pm</td>
                                                            <td><div class="twm-jobs-category"><span class="twm-bg-red">Rejects</span></div></td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span class="far fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="far fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><tr class="even">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                           <img src="images/candidates/pic4.jpg" alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Randall Henderson</h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>IT Contractor</td>
                                                            <td>18/06/2022 at 10:35 am</td>
                                                            <td><div class="twm-jobs-category"><span class="twm-bg-golden">Pending</span></div></td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span class="far fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="far fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><tr class="odd">
                                                            <td class="sorting_1"><input type="checkbox"></td>
                                                            <td>
                                                                <div class="twm-DT-candidates-list">
                                                                    <div class="twm-media">
                                                                        <div class="twm-media-pic">
                                                                           <img src="images/candidates/pic5.jpg" alt="#">
                                                                        </div>
                                                                    </div>
                                                                    <div class="twm-mid-content">
                                                                        <a href="#" class="twm-job-title">
                                                                            <h4>Randall Warren</h4>
                                                                            <p class="twm-candidate-address">
                                                                                <i class="feather-map-pin"></i>New York
                                                                            </p>
                                                                        </a>
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </td>
                                                            <td>Digital &amp; Creative</td>
                                                            <td>22/06/2022 at 10:35 am</td>
                                                            <td><div class="twm-jobs-category"><span class="twm-bg-green">Approved</span></div></td>
                                                            <td>
                                                                <div class="twm-table-controls">
                                                                    <ul class="twm-DT-controls-icon list-unstyled">
                                                                        <li>
                                                                            <button title="View profile">
                                                                                <span class="fa fa-eye"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Send message">
                                                                                <span class="far fa-envelope-open"></span>
                                                                            </button>
                                                                        </li>
                                                                        <li>
                                                                            <button title="Delete">
                                                                                <span class="far fa-trash-alt"></span>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5">
                                                <!-- <div class="dataTables_info" id="candidate_data_table_info"
                                                    role="status" aria-live="polite">Showing 1 to 5 of
                                                    13 entries</div> -->
                                            </div>
                                            
                                            <div class="col-sm-12 col-md-7">
                                                <div class="dataTables_paginate paging_simple_numbers" id="candidate_data_table_paginate">
                                                    <!-- <ul class="pagination">
                                                        <li class="paginate_button page-item previous disabled"
                                                            id="candidate_data_table_previous"><a href="#"
                                                                aria-controls="candidate_data_table" data-dt-idx="0"
                                                                tabindex="0" class="page-link">Previous</a>
                                                        </li>
                                                        <li class="paginate_button page-item active"><a href="#"
                                                                aria-controls="candidate_data_table" data-dt-idx="1"
                                                                tabindex="0" class="page-link">1</a></li>
                                                        <li class="paginate_button page-item "><a href="#"
                                                                aria-controls="candidate_data_table" data-dt-idx="2"
                                                                tabindex="0" class="page-link">2</a></li>
                                                        <li class="paginate_button page-item "><a href="#"
                                                                aria-controls="candidate_data_table" data-dt-idx="3"
                                                                tabindex="0" class="page-link">3</a></li>
                                                        <li class="paginate_button page-item next"
                                                            id="candidate_data_table_next"><a href="#"
                                                                aria-controls="candidate_data_table" data-dt-idx="4"
                                                                tabindex="0" class="page-link">Next</a>
                                                        </li>
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--Delete Profile Popup-->
        <div class="modal fade twm-model-popup" id="delete-dash-profile" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title">Do you want to delete your profile?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="site-button" data-bs-dismiss="modal">No</button>
                        <button type="button" class="site-button outline-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>


        <!--Logout Profile Popup-->
        <div class="modal fade twm-model-popup" id="logout-dash-profile" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title">Do you want to Logout your profile?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="site-button" data-bs-dismiss="modal">No</button>
                        <button type="button" class="site-button outline-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>

</div>