<%- include('./partials/header'); -%>

        <!-- CONTENT START -->
        <div class="page-content" style="transform: none;">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/banner/1.jpg);">
                <div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="wt-title">Employer Detail</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="index.html">Home</a></li>
                                    <li>Employer Detail</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- OUR BLOG START -->
            <div class="section-full  p-t120 p-b90 bg-white" style="transform: none;">
                <div class="container" style="transform: none;">
                
                    <!-- BLOG SECTION START -->
                    <div class="section-content" style="transform: none;">
                        <div class="row d-flex justify-content-center" style="transform: none;">
                        
                            <div class="col-lg-8 col-md-12">
                                <!-- Candidate detail START -->
                                <div class="cabdidate-de-info">
                                    <div class="twm-employer-self-wrap">
                                        <div class="twm-employer-self-info">
                                            <div class="twm-employer-self-top">
                                                <div class="twm-mid-content">
                                                    <div class="twm-candi-self-wrap overlay-wraper" style="background-image:url(images/candidates/candidate-bg.jpg);">
                                                        <div class="overlay-main site-bg-primary opacity-01"></div>
                                                        <div class="twm-candi-self-info">
                                                            <div class="twm-candi-self-top">
                                                                <script>
                                                                    function getRandom(){
                                                                        return Math.random() * (100 - 30) + 30;
                                                                    }
                                                                    </script>
                                                                <img src="images/jobs-company/pic4.jpg" alt="#" style="border-radius: 10%;">
                                                                <h4 class="twm-job-title text-center text-white mt-3">Thewebmax PVT Ltd</h4>
                                                                
                                                                <div class="d-flex gap-2 flex-column my-3">
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Job Security</div>
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Career Growth</div>
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Positivity</div>
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Efficient</div>
                                                                    <br>
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Holiday Package</div>
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Pay Package</div>
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Benefits Package</div>
                                                                    <br>
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Database</div>
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Hardware</div>
                                                                    <div class="d-flex flex-row gap-2"><input type="range" min="1" max="100" class="slider" >Apps</div>
                                                                </div>
                                                                <script defer>
                                                                    document.querySelectorAll('.slider').forEach(q=>{
                                                                        q.value=getRandom()
                                                                    })
                                                                </script>
                
                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="twm-employer-self-bottom">
                                                        <a href="javascript:;" class="site-button outline-primary">Add Review</a>
                                                        <a href="javascript:;" class="site-button">Follow Us</a>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <h4 class="twm-s-title">Employer</h4>
                                    <div class="d-flex flex-row">
                                        <div class="w-25 m-2"><img src="./images/blog/latest/bg7.jpg" alt="" class="rounded"></div>
                                        <div class="w-25">
                                            <span>Name: <h4>Finnian Burris</h4> </span>
                                            <span>Position: <h4>CEO</h4> </span>
                                            <span>Industry: <h4>IT</h4> </span>
                                        </div>
                                        <div class="w-25">
                                            <span>Looking for: <h4>Java Developer</h4><h4>Website Designer</h4></span>
                                            
                                        </div>
                                    </div>

                                    <h4 class="twm-s-title">About Company</h4>

                                    <p>Billion technology, engineering, construction and manufacturing and financial services conglomerate. It addresses critical needs in key sectors including infrastructure, construction, hydrocarbon, power, defence and aerospace. Its footprint extends across seven countries in addition to UK.</p>

                                    <p>A strong, customer-focused approach, conformance to global HSE standards and the constant quest for top-class quality have enabled the Company to sustain leadership in its major lines of business for over 75 years.</p>
                                    <p>Was rated 58th Most Innovative Company by Forbes International, and 4th in the global list of ‘green companies’ in the industrial sector by Newsweek.</p>   
                                    
                                    
                                    
                                    <div class="twm-social-tags">
                                        <a href="javascript:void(0)" class="fb-clr">Facebook</a>
                                        <a href="javascript:void(0)" class="tw-clr">Twitter</a>
                                        <a href="javascript:void(0)" class="link-clr">Linkedin</a>                                            
                                        <a href="javascript:void(0)" class="whats-clr">Whatsapp</a>
                                        <a href="javascript:void(0)" class="pinte-clr">Pinterest</a>
                                    </div>

                                    <div class="twm-two-part-section">
                                        <div class="row">

                                            <div class="col-lg-6 col-md-6">
                                                <h4 class="twm-s-title">Office Photos</h4>
                                                <div class="tw-sidebar-gallery">
                                                    <ul>
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic1.jpg" title="Title 1" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic1.jpg">
                                                                    <img src="images/gallery/thumb/pic1.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic2.jpg" title="Title 2" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic2.jpg">
                                                                    <img src="images/gallery/thumb/pic2.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb ">
                                                                <a class="elem" href="images/gallery/pic3.jpg" title="Title 3" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic3.jpg">
                                                                    <img src="images/gallery/thumb/pic3.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic4.jpg" title="Title 4" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic4.jpg">
                                                                    <img src="images/gallery/thumb/pic4.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic5.jpg" title="Title 5" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic5.jpg">
                                                                    <img src="images/gallery/thumb/pic5.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic6.jpg" title="Title 6" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic6.jpg">
                                                                    <img src="images/gallery/thumb/pic6.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic7.jpg" title="Title 7" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic1.jpg">
                                                                    <img src="images/gallery/thumb/pic7.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic8.jpg" title="Title 8" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic2.jpg">
                                                                    <img src="images/gallery/thumb/pic8.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb ">
                                                                <a class="elem" href="images/gallery/pic9.jpg" title="Title 9" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic3.jpg">
                                                                    <img src="images/gallery/thumb/pic9.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic10.jpg" title="Title 10" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic4.jpg">
                                                                    <img src="images/gallery/thumb/pic10.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic11.jpg" title="Title 11" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic5.jpg">
                                                                    <img src="images/gallery/thumb/pic11.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic12.jpg" title="Title 12" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic6.jpg">
                                                                    <img src="images/gallery/thumb/pic12.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>     
                                                                </a>
                                                            </div>
                                                        </li>
                                                        
                                                    </ul>
                
                                                </div> 
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <h4 class="twm-s-title">Video</h4>
                                                <div class="video-section-first" style="background-image: url(images/video-bg.jpg);">
                                                    <a href="https://www.youtube.com/watch?v=QyhwSYhX09s" class="mfp-video play-now-video">
                                                        <i class="icon feather-play"></i>
                                                        <span class="ripple"></span>
                                                    </a>
                                                </div> 
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-12 rightSidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                                
    
    
                            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;"><div class="side-bar-2">
    
                                    <div class="twm-s-map mb-5">
                                        <h4 class="section-head-small mb-4 mt-4">Head Office</h4> 
                                        <div class="twm-s-map-iframe">
                                            <iframe height="270" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.8534521658976!2d-118.2533646842856!3d34.073270780600225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c6fd9829c6f3%3A0x6ecd11bcf4b0c23a!2s1363%20Sunset%20Blvd%2C%20Los%20Angeles%2C%20CA%2090026%2C%20USA!5e0!3m2!1sen!2sin!4v1620815366832!5m2!1sen!2sin"></iframe>
                                        </div>
                                    </div>

    
                                    <div class="twm-s-contact-wrap mb-5">
                                        <h4 class="section-head-small mb-4">Contact us</h4> 
                                        <div class="twm-s-contact">
                                            <div class="row">

                                                <div class="col-lg-12">
                                                    <div class="form-group mb-3">
                                                        <input name="username" type="text" required="" class="form-control" placeholder="Name">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-3">
                                                        <input name="email" type="text" class="form-control" required="" placeholder="Email">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-3">
                                                        <input name="phone" type="text" class="form-control" required="" placeholder="Phone">
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-3">
                                                        <textarea name="message" class="form-control" rows="3" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-12">
                                                    <button type="submit" class="site-button">Submit Now</button>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
    
                                    
                                </div></div></div>
                        
                        </div>
                                                
                    </div>
                    
                </div>
                
            </div>   
            <!-- OUR BLOG END -->          
            
     
        </div>
        <!-- CONTENT END -->

<%- include('./partials/footer'); -%>
