<%- include('./partials/header'); -%>
<!--Banner Start-->
<div class="twm-home3-banner-section site-bg-white bg-cover" style="background-image:url(./images/home-3/banner1.jpg)">
  <div class="twm-home3-inner-section">
      <div class="twm-bnr-mid-section">
          <div class="twm-bnr-title-large">Find Top IT Jobs</div>
          <div class="twm-bnr-discription">Type your keyword, then click search to find your perfect job.</div>

          <div class="twm-bnr-search-bar">
              <form>
                  <div class="row">
                      <!--Title-->
                      <div class="form-group col-xl-3 col-lg-6 col-md-6">
                          <label>What</label>
                          <select class="form-select">
                              <option selected="">Job Title</option>
                              <option>Web Designer</option>
                              <option>Developer</option>
                              <option>Engineer</option>
                              <option>Full Stack Dev</option>
                              <option>Backend Dev</option>
                          </select>
                      </div>

                      <!--All Category-->
                      <div class="form-group col-xl-3 col-lg-6 col-md-6">
                          <label>Type</label>
                          <select class="form-select">
                              <option selected="">All Category</option>
                              <option>Full Time</option>
                              <option>Part Time</option>
                              <option>Contract</option>
                              <option>Freelance</option>
                              <option>Permanent</option>
                              <option>Intership</option>
                          </select>
                      </div>

                      <!--Location-->
                      <div class="form-group col-xl-3 col-lg-6 col-md-6">
                          <label>Location</label>
                          <div class="twm-inputicon-box">
                              <input name="username" type="text" required="" class="form-control" placeholder="Location">
                              <i class="twm-input-icon fas fa-map-marker-alt"></i>
                          </div>
                      </div>

                      <!--Find job btn-->
                      <div class="form-group col-xl-3 col-lg-6 col-md-6">
                          <button type="button" class="site-button" onclick="window.location='/jobs' ">Find Job</button>
                      </div>

                  </div>
              </form>
          </div>

          <div class="twm-bnr-popular-search">
              <span class="twm-title">Popular Searches:</span>
              <a href="job-list">Developer</a> ,
              <a href="job-list">Designer</a> ,
              <a href="job-list">Architect</a> ,
              <a href="job-list">Engineer</a> ...
          </div>
      </div>
      <div class="twm-bnr-bottom-section">
          <div class="twm-browse-jobs">5,000+ Browse Jobs</div>
          <div class="twm-bnr-blocks-wrap">
              <!--icon-block-1-->
              <div class="twm-bnr-blocks twm-bnr-blocks-position-1">
                  <div class="twm-content">
                      <div class="tw-count-number text-clr-pink">
                          <span class="counter">7</span>K+
                      </div>
                      <p class="icon-content-info">Companies Jobs</p>
                  </div>
              </div>

              <!--icon-block-2-->
              <div class="twm-bnr-blocks twm-bnr-blocks-position-2">
                  <div class="twm-content">
                      <div class="tw-count-number text-clr-yellow">
                          <span class="counter">47</span> +
                      </div>
                      <p class="icon-content-info">Job For Countries </p>
                  </div>
              </div>

              <!--icon-block-3-->
              <div class="twm-bnr-blocks-3 twm-bnr-blocks-position-3">
                  <div class="twm-pics">
                      <span><img src="./images/main-slider/slider1/user/u-1.jpg" alt=""></span>
                      <span><img src="./images/main-slider/slider1/user/u-2.jpg" alt=""></span>
                      <span><img src="./images/main-slider/slider1/user/u-3.jpg" alt=""></span>
                      <span><img src="./images/main-slider/slider1/user/u-4.jpg" alt=""></span>
                      <span><img src="./images/main-slider/slider1/user/u-5.jpg" alt=""></span>
                      <span><img src="./images/main-slider/slider1/user/u-6.jpg" alt=""></span>
                  </div>
                  <div class="twm-content">
                      <div class="tw-count-number text-clr-green">
                          <span class="counter">38</span>K+
                      </div>
                      <p class="icon-content-info">Jobs Done</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
</div>
<!--Banner End-->


        <!-- HOW IT WORK SECTION START -->
        <div class="section-full p-t120 p-b90 site-bg-white twm-how-it-work-area">

            <div class="container">

                <!-- TITLE START-->
                <div class="section-head center wt-small-separator-outer">
                    <div class="wt-small-separator site-text-primary">
                        <div>Working Process</div>
                    </div>
                    <h2 class="wt-title">How It Works</h2>

                </div>
                <!-- TITLE END-->

                <div class="twm-how-it-work-section">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="twm-w-process-steps">
                                <span class="twm-large-number">01</span>
                                <div class="twm-w-pro-top bg-clr-sky">
                                    <div class="twm-media">
                                        <span><img src="images/work-process/icon1.png" alt="icon1"></span>
                                    </div>
                                    <h4 class="twm-title">Register<br>Your Account</h4>
                                </div>
                                <p>You need to create an account to find the best and preferred job.</p>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="twm-w-process-steps">
                                <span class="twm-large-number">02</span>
                                <div class="twm-w-pro-top bg-clr-green">
                                    <div class="twm-media">
                                        <span><img src="images/work-process/icon3.png" alt="icon1"></span>
                                    </div>
                                    <h4 class="twm-title">Upload <br>Your Resume</h4>
                                </div>
                                <p>You need to create an account to find the best and preferred job.</p>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="twm-w-process-steps">
                                <span class="twm-large-number">03</span>
                                <div class="twm-w-pro-top bg-clr-pink">
                                    <div class="twm-media">
                                        <span><img src="images/work-process/icon2.png" alt="icon1"></span>
                                    </div>
                                    <h4 class="twm-title">Apply <br>
                                        For Dream Job</h4>
                                </div>
                                <p>You need to create an account to find the best and preferred job.</p>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>

        </div>
<!-- HOW IT WORK SECTION END -->


            <!-- TOP COMPANIES START -->
            <div class="section-full p-t120  site-bg-white twm-companies-wrap">

                <!-- TITLE START-->
                <div class="section-head center wt-small-separator-outer">
                    <div class="wt-small-separator site-text-primary">
                        <div>Top Companies</div>
                    </div>
                    <h2 class="wt-title">Get hired in top companies</h2>
                </div>
                <!-- TITLE END-->

                <div class="container">
                    <div class="section-content">
                        <div class="owl-carousel home-client-carousel2 owl-btn-vertical-center owl-loaded owl-drag">





















                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(-907px, 0px, 0px); transition: all 0.25s ease 0s; width: 3630px;">
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w6.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w1.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w2.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w3.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w5.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w1.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w2.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w3.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w4.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w5.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w6.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w1.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w2.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w3.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w5.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w1.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w2.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w3.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w4.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 151.5px; margin-right: 30px;">
                                        <div class="item">
                                            <div class="ow-client-logo">
                                                <div class="client-logo client-logo-media">
                                                    <a href="employer-list.html"><img src="images/client-logo/w5.png"
                                                            alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i
                                        class="fa fa-angle-left"></i></button><button type="button" role="presentation"
                                    class="owl-next"><i class="fa fa-angle-right"></i></button></div>
                            <div class="owl-dots disabled"></div>
                        </div>
                    </div>
                </div>
                <div class="twm-company-approch-outer">
                    <div class="twm-company-approch">
                        <div class="row">

                            <!--block 1-->
                            <div class="col-lg-4 col-md-12">
                                <div class="counter-outer-two">
                                    <div class="icon-content">
                                        <div class="tw-count-number text-clr-sky">
                                            <span class="counter">500</span>K+
                                        </div>
                                        <p class="icon-content-info">Million daily active users</p>
                                    </div>
                                </div>
                            </div>

                            <!--block 2-->
                            <div class="col-lg-4 col-md-12">
                                <div class="counter-outer-two">
                                    <div class="icon-content">
                                        <div class="tw-count-number text-clr-pink">
                                            <span class="counter">9</span>K+
                                        </div>
                                        <p class="icon-content-info">Open job positions</p>
                                    </div>
                                </div>
                            </div>

                            <!--block 3-->
                            <div class="col-lg-4 col-md-12">
                                <div class="counter-outer-two">
                                    <div class="icon-content">
                                        <div class="tw-count-number text-clr-green">
                                            <span class="counter">200</span>K+
                                        </div>
                                        <p class="icon-content-info">Million stories shared</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
<!-- TOP COMPANIES END -->

<%- include('./partials/footer'); -%>
