<%- include('./partials/header'); -%>
<div class="card card-body text-center" style="margin-top: 20vh;font-size: 4rem;color: rgb(41 39 147);;">
    Ops! Invalid link!
</div>
<%- include('./partials/footer') -%>