<!DOCTYPE html>
<html lang="en">
    <!-- https://thewebmax.com/jobzilla/candidate-detail.html  https://thewebmax.com/jobzilla/ -->
<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="description" content="">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <!-- PAGE TITLE HERE -->
    <title>Steady Paycheck | Home</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="./config/bootstrap.min.css"><!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="./config/font-awesome.min.css"><!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="./config/feather.css"><!-- FEATHER ICON SHEET -->
    <link rel="stylesheet" type="text/css" href="./config/owl.carousel.min.css"><!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="./config/magnific-popup.min.css"><!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="./config/lc_lightbox.css"><!-- Lc light box popup -->
    <link rel="stylesheet" type="text/css" href="./config/bootstrap-select.min.css"><!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="./config/dataTables.bootstrap5.min.css"><!-- DATA table STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="./config/select.bootstrap5.min.css">
    <!-- DASHBOARD select bootstrap  STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="./config/dropzone.css"><!-- DROPZONE STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="./config/scrollbar.css"><!-- CUSTOM SCROLL BAR STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="./config/datepicker.css"><!-- DATEPICKER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="./config/style.css"><!-- MAIN STYLE SHEET -->

    <style id="theia-sticky-sidebar-stylesheet-TSS">
        .theiaStickySidebar:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>

    <%- body %>

    <!-- JAVASCRIPT  FILES ========================================= -->
    <script src="./js/jquery-3.6.0.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="./js/popper.min.js"></script><!-- POPPER.MIN JS -->
    <script src="./js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="./js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
    <script src="./js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
    <script src="./js/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="./js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
    <script src="./js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
    <script src="./js/imagesloaded.pkgd.min.js"></script><!-- MASONRY  -->
    <script src="./js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
    <script src="./js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
    <script src="./js/lc_lightbox.lite.js"></script><!-- IMAGE POPUP -->
    <script src="./js/bootstrap-select.min.js"></script><!-- Form js -->
    <script src="./js/dropzone.js"></script><!-- IMAGE UPLOAD  -->
    <script src="./js/jquery.scrollbar.js"></script><!-- scroller -->
    <script src="./js/bootstrap-datepicker.js"></script><!-- scroller -->
    <script src="./js/jquery.dataTables.min.js"></script><!-- Datatable -->
    <script src="./js/dataTables.bootstrap5.min.js"></script><!-- Datatable -->
    <script src="./js/chart.js"></script><!-- Chart -->
    <script src="./js/custom.js"></script><!-- CUSTOM FUCTIONS  -->




</body>

</html>